<%- include ../partials/header.ejs %>

<h2>Update Pets Infor</h2>

<form action="/pets/<%=pet._id%>?_method=PUT" method="post">
	<ul class="updatePetForm">
		<li>petKind: <input type="text" name="petKind" value="<%=pet.petKind%>"></input></li>
		<li>name:  	 <input type="text" name="name"    value="<%=pet.name%>"></input></li>
		<li>breed: 	 <input type="text" name="breed"   value="<%=pet.breed%>"></input></li>
		<li>age:	 <input type="text" name="age"     value="<%=pet.age%>"></input></li>
		<li>photo:	 <input type="text" name="photo"   value="<%=pet.photo%>"></input></li>
	</ul>
	<button>Update Puppy Dog</button>
</form>


<%- include ../partials/footer.ejs %>
