<%- include ../partials/header.ejs %>

<div class="indexDogPanel">
	<%pets.forEach(pet=>{%>
		<div class="dogInfo">
			<div><a href="/pets/<%=pet._id%>"><%= pet.name%></a></div>
			<div><img src="/pets/<%=pet._id%>/photo"></div>
			<div><%= pet.petKind%></div>
			<div><%= pet.age%></div>
			<div><%= pet.breed%></div>
		</div>
	<%})%>
</div>


<%- include ../partials/footer.ejs %>
