<%- include ../partials/header.ejs %>




<div class="show-container">
	<div class="dog-panel">
		<h5 class='show-label'><%= pet.name%></h5>
		<div class='show-label'><img class='pet-img' src="/pets/<%=pet._id%>/photo"></div>
<!-- 		<div><%= pet.petKind%></div> -->
		<div class='show-label'>Age: <%= pet.age%></div>
		<div class='show-label'>Breed: <%= pet.breed%></div>


		<%if (pet.owner === loggedInUser) {%>
			<div><a class='owner-link' href="/users/<%=pet.owner%>">User Home Page</a></div>
			<form action="/pets/<%=pet._id%>?_method=DELETE" method="POST">
				<button class='cool-propose-button'>Remove Pet</button>
			</form>
			<form action="/pets/<%=pet._id%>/edit" method="POST">
				<button class="cool-propose-button">Edit Pet Info</button>
			</form>
			<hr>
		<%} else {%>
			<div><a class='owner-link' href="/users/<%=pet.owner%>">Contact Owner</a></div>
		<%}%>
	</div>

	<div class="schedule">
		<div class="schedule-panel">
			<h3 class='schedule-header'>Schedule</h3>
			<ul class='schedule-ul'>
			<% for (let i = (pet.schedule.length - 1) ; i >= 0; i--) {%>
				 <%let status = ""%>
				 <%if (pet.schedule[i].booked === false){%>
						<%status = "Pending"%>
					<% }else{ %>
						<%status = "Confirmed"%>
					<%}%>
				<li>
					<%=`${pet.schedule[i].date} - ${pet.schedule[i].time}: ${pet.schedule[i].proposerUsername} ${status}`%>
				</li>


				<%if (pet.owner === loggedInUser && pet.schedule[i].booked === false){%>
						<div class='accept-decline-container'>
							<form action="/pets/schedule/a?_method=PUT" method="POST">
								<input type="hidden" name="scheduleId" value="<%=pet.schedule[i]._id%>">
								<button class='cool-propose-button'>accept</button>
							</form>
							<form action="/pets/schedule/d?_method=PUT" method="POST">
								<input  type="hidden" name="scheduleId" value="<%=pet.schedule[i]._id%>">
								<button class='cool-propose-button'>decline</button>
							</form>
						</div>
					<%} %>
			<%}%>
			</ul>
		</div>
		<% if (pet.owner !== loggedInUser && logged !== undefined){%>
			<form class='schedule-form' action='/pets/schedule' method='POST'>
				<input type="text" name="date" placeholder='date i.e. 4/25'>
				<input type="text" name="time" placeholder="time i.e. 4PM-5PM">
				<input type='hidden' name='proposerId' value='<%=loggedInUser%>'>
				<input type='hidden' name='petOwnerId' value='<%=pet.owner%>'>
				<input type='hidden' name='proposerUsername' value='<%=loggedInUsername%>'>
				<input type='hidden' name='pet' value='<%=pet._id%>'>
				<button class='cool-propose-button' type="submit">Propose Time</button>
			</form>
		<%}%>
	</div>
</div>
	


<%- include ../partials/footer.ejs %>



