<%- include ../partials/header.ejs %>

<h2>show page</h2>

<div class="container">
	<div class="dogPanel">
		<div><%= pet.name%></div>
		<div><img src="/pets/<%=pet._id%>/photo"></div>
		<div><%= pet.petKind%></div>
		<div><%= pet.age%></div>
		<div><%= pet.breed%></div>

		<%if (pet.owner === loggedInUser) {%>
			<div><a href="/users/<%=pet.owner%>">User Home Page</a></div>
			<form action="/pets/<%=pet._id%>?_method=DELETE" method="POST">
				<button>Remove Pet</button>
			</form>
			<form action="/pets/<%=pet._id%>/edit" method="POST">
				<button>Edit Pet Info</button>
			</form>
			<hr>
		<%} else {%>
			<div><a href="/users/<%=pet.owner%>">Contact Owner</a></div>
		<%}%>
	</div>

	<div class="schedule">
		<div class="schedule-panel">

			<% for (let i = 0 ; i < pet.schedule.length; i++) {%>
				 <%let status = ""%>
				 <%if (pet.schedule[i].booked === false){%>
						<%status = "Pending"%>
					<% }else{ %>
						<%status = "Confirmed"%>
					<%}%>
				<p>
					<%=`${pet.schedule[i].date} - ${pet.schedule[i].time}: ${pet.schedule[i].proposerUsername} ${status}`%>
				</p>


				<%if (pet.owner === loggedInUser && pet.schedule[i].booked === false){%>

						<form action="/pets/schedule/a?_method=PUT" method="POST">
							<input type="hidden" name="scheduleId" value="<%=pet.schedule[i]._id%>">
							<button>accept</button>
						</form>
						<form action="/pets/schedule/d?_method=PUT" method="POST">
							<input type="hidden" name="scheduleId" value="<%=pet.schedule[i]._id%>">
							<button>decline</button>
						</form>
					<%} %>
			<%}%>
			
		</div>
		<% if (pet.owner !== loggedInUser && logged !== undefined){%>
			<form action='/pets/schedule' method='POST'>
				<input type="text" name="date" placeholder='date i.e. 4/25'>
				<input type="text" name="time" placeholder="time i.e. 4PM-5PM">
				<input type='hidden' name='proposerId' value='<%=loggedInUser%>'>
				<input type='hidden' name='petOwnerId' value='<%=pet.owner%>'>
				<input type='hidden' name='proposerUsername' value='<%=loggedInUsername%>'>
				<input type='hidden' name='pet' value='<%=pet._id%>'>
				<button type="submit">Propose Time</button>
			</form>
		<%}%>
	</div>
</div>
	


<%- include ../partials/footer.ejs %>



