<%- include ../partials/header.ejs %>

<h2>show page</h2>

<div class="dogPanel">
	<div><%= pet.name%></div>
	<div><img src="<%=pet.photo%>"></div>
	<div><%= pet.petKind%></div>
	<div><%= pet.age%></div>
	<div><%= pet.breed%></div>
</div>

	


<%- include ../partials/footer.ejs %>



