<%- include ../partials/header.ejs %>
        <div class='rating-container'>
            <%let sum = 0%>    
                <%for (let i = 0; i < user.reviews.length; i++) {%>
                    <%sum += Number(user.reviews[i].rating) %>
                <%}%>
                <%const overallRating = (sum/user.reviews.length).toFixed(1)%>
                <%if (overallRating === 'NaN') {%>
                    <h2 class='rating'>Rating: No Rating</h2>
                <%} else {%> 
                    <h2>Rating: <%=overallRating%></h2>
                <%}%>    
        </div>        
    <div class="overall-container">  
        <div class="user-pets-container">
            

            <h1><%=user.username%>'s Pets</h1>
            <ul class="pets-ul1">
                <% for(let i = 0; i < user.pets.length; i++){ %>
                    <li class="pets-li">
                        <a href="/pets/<%=user.pets[i]._id%>">
                            <img class='pet-img1' src="/pets/<%=user.pets[i]._id%>/photo">
                        </a></br>
                    </li>
                <% } %>
            </ul>
            <section>
                <a class='owner-link' href="/pets/new">Add New Pet</a>
            </section>
        </div>


        <div class="user-container">
            <div class="inner-container">
                <div class="header-container">
                    <h1><%=user.username%></h1>    

                </div>
                <small><%=updated%></small>
                <img class='user-photo' src="/users/<%=user._id%>/photo">
                  <form class='update-user-form' action="/users/<%=user._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <input type="text" name="username" value="<%=user.username%>">
                    <input type="text" name="name" value="<%=user.name%>">
                    <input type="email" name="email" value="<%=user.email%>">
                    <input type="text" name="phone" value="<%=user.phone%>">
                    <input type="text" name="zipcode" value="<%=user.zipcode%>">
                    <input type="file" name="photo">
                    <strong><%= typeof msg != 'undefined' ? msg : ''%></strong>
                    <br>


                    <button class='cool-propose-button' id='update-user-button' type="submit">Update</button>
                    </form>
                    <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
                      <button class='cool-propose-button' type="submit">Delete Account</button>
                    </form>

            </div>
        </div>


        <div class='review-container'>
            <h3 class='schedule-header'>Reviews</h3>
            <ul class="schedule-ul">
                <% for(let i = 0; i < user.reviews.length; i++){ %>
                    <li class='review-li'>
                        "<%=user.reviews[i].text%>" - <%=user.reviews[i].userReviewing%></br>
                        Rating: <%=user.reviews[i].rating%>
                    </li>
                <% } %>
            </ul>    
        </div>

    </div>      
<%- include ../partials/footer.ejs %>