<%- include ../partials/header.ejs %>

        
        <div class="container">
            <div class="header-container">
                <h1><%=user.username%></h1>    

            </div>
            <section>
                <a href="/users">Home</a>

            </section>
            <h1><%=user.username%>'s Pets</h1>
            <%let sum = 0%>    
                <%for (let i = 0; i < user.reviews.length; i++) {%>
                    <%sum += Number(user.reviews[i].rating) %>
                <%}%>
                <%const overallRating = (sum/user.reviews.length).toFixed(1)%>
                <%if (overallRating === 'NaN') {%>
                    <h2>Overall Rating: No Reviews</h2>
                <%} else {%> 
                    <h2>Overall Rating: <%=overallRating%></h2>
                <%}%>    
            <ul>
                <% for(let i = 0; i < user.pets.length; i++){ %>
                    <li>
                        <a href="/pets/<%=user.pets[i]._id%>">
                            <img src="/pets/<%=user.pets[i]._id%>/photo">
                        </a></br>
                    </li>
                <% } %>
            </ul>
            <section>
                <a href="/pets/new">Add New Pet</a>
            </section>
        </div>
        <small><%=updated%></small>
        <div class="user-info">
            <img src="/users/<%=user._id%>/photo">
              <form action="/users/<%=user._id%>?_method=PUT" method="POST">
                <input type="text" name="username" value="<%=user.username%>">
                <input type="text" name="name" value="<%=user.name%>">
                <input type="email" name="email" value="<%=user.email%>">
                <input type="text" name="phone" value="<%=user.phone%>">
                <input type="text" name="zipcode" value="<%=user.zipcode%>">
                <input type="text" name="photo">
                <button type="submit">Update</button>
              </form>
        </div>
        <section>
            <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
              <button type="submit">Delete Account</button>
            </form>
        </section>
        <div>
                <% for(let i = 0; i < user.reviews.length; i++){ %>
                    <li>
                        "<%=user.reviews[i].text%>" - <%=user.reviews[i].userReviewing%></br>
                        Rating: <%=user.reviews[i].rating%>
                    </li>
                <% } %>
            </div>
<%- include ../partials/footer.ejs %>