<%- include ../partials/header.ejs %>
        
        <div class="container">
            
            
            <ul class='pets-ul'>
                <% for(let i = 0; i < pets.length; i++){ %>
                    <li class='pets-li'>
                        <a href="/pets/<%=pets[i]._id%>"><img class='pet-img' src="<%=pets[i].photo%>"></a></br>
                        <button class='cool-button'onclick="window.location.href = '/pets/<%=pets[i]._id%>';">View Pet</button>
                    </li>
                <% } %>
            </ul>
        </div>

        <div id="googleMap">
            

        </div>
  
<%- include ../partials/footer.ejs %>