<%- include ../partials/header.ejs %>
        
        <div class="index-container">
            
            
            <ul class='pets-ul'>
                <% for(let i = 0; i < pets.length; i++){ %>
                    <li class='pets-li'>
                        <a href="/pets/<%=pets[i]._id%>"><img class='pet-img' src="/pets/<%=pets[i]._id%>/photo"></a></br>
                        <button class='cool-button' id='index-button' onclick="window.location.href = '/pets/<%=pets[i]._id%>';">View Pet</button>
                    </li>
                    
                <% } %>
            </ul>


            <div id="map">
               

           </div>

           
        </div>

          
<%if (pets.length > 0) {%>            
    <script type="text/javascript">
        const petPositions = []
        const petPositions1 = []
        console.log(<%=pets[0].lat%>);
        console.log('javascript running');
        
              


               for (let i = 0; i < <%=pets.length%>; i++) {
                        
                       let petPosition = {
                           lat: <%=pets[i].lat%>,
                           lng: <%=pets[i].lng%>
                       }
                       petPositions.push(petPosition)
                       console.log(petPosition);
                        

                       
                       console.log(<%=i%>);
                   // }
                }

          console.log(petPositions + ' ============ are pet postions');


          let map, infoWindow;
          function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 41.8781, lng: -87.6298},
              zoom: 10
            });
            infoWindow = new google.maps.InfoWindow;
            console.log(infoWindow);

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                let pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };


                infoWindow.setPosition(pos);
                infoWindow.setContent('Red Marker is Your Location Blue Markers are Pets Around You');
                infoWindow.open(map);
                map.setCenter(pos);
                let marker = new google.maps.Marker({position: pos, map: map});
                for (let i = 0; i < petPositions.length; i++) {
                    console.log('pet marker made');
                    let petMarker = new google.maps.Marker({position: petPositions[i], map: map, icon: {
          url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        } })
                }

              }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
              });


            } else {
              // Browser doesn't support Geolocation
              handleLocationError(false, infoWindow, map.getCenter());
            }
          }

          function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                                  'Error: The Geolocation service failed.' :
                                  'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
          }
    </script>
<%} else {%>
    <script type="text/javascript">
        const petPositions = []
        console.log(<%=pets.length%>);
        

          console.log(petPositions + ' ============ are pet postions');


          let map, infoWindow;
          function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 41.8781, lng: -87.6298},
              zoom: 10
            });
            infoWindow = new google.maps.InfoWindow;
            console.log(infoWindow);

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                let pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };


                infoWindow.setPosition(pos);
                infoWindow.setContent('Red Marker is Your Location Blue Markers are Pets Around You');
                infoWindow.open(map);
                map.setCenter(pos);
                let marker = new google.maps.Marker({position: pos, map: map});
        //         for (let i = 0; i < petPositions.length; i++) {
        //             let petMarker = new google.maps.Marker({position: petPositions[i], map: map, icon: {
        //   url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        // } })
        //         }

              }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
              });


            } else {
              // Browser doesn't support Geolocation
              handleLocationError(false, infoWindow, map.getCenter());
            }
          }

          function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                                  'Error: The Geolocation service failed.' :
                                  'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
          }
    </script>
<%}%>


<%- include ../partials/footer.ejs %>