<%- include ../partials/header.ejs %>

        <% if (logged === undefined) {%>
            <a href="/users/new">Login/Register</a>

        <% } else {%>
            <a href="/users/<%=id%>/edit"><%=username%></a>
            <a href="/users/logout">Log Out</a>
        <%}%>
        <div class="container">
            <div class="header-container">
                <h1><%=user.username%></h1>    

            </div>
            <section>
                <a href="/users">Home</a>

            </section>
            <h1><%=user.username%>'s Pets</h1>
            <ul>
                <% for(let i = 0; i < user.pets.length; i++){ %>
                    <li>
                        <a href="/pets/<%=user.pets[i]._id%>"><img src="<%=user.pets[i].photo%>"></a></br>
                    </li>
                <% } %>
            </ul>
        </div>

        <div class="user-info">
            <img src="<%=user.photo%>">
            <ul>
                <li>Name: <%=user.name%></li>
                <li>Email: <%=user.email%></li>
                <li>Zipcode: <%=user.zipcode%></li>
            </ul>

        </div>

        <div class="review">

            <div>
                <% for(let i = 0; i < user.reviews.length; i++){ %>
                    <li>
                        "<%=user.reviews[i].text%>" - <%=user.reviews[i].userReviewing%></br>
                        Rating: <%=user.reviews[i].rating%>
                    </li>
                <% } %>
            </div>
            <form action='/users/review' method='POST'>
                <textarea name='text'></textarea>
                <input type='radio' id='0' name='rating' value='0'>
                <label for='0'>0</label>
                <input type='radio' id='1' name='rating' value='1'>
                <label for='1'>1</label>
                <input type='radio' id='2' name='rating' value='2'>
                <label for='2'>2</label>
                <input type='radio' id='3' name='rating' value='3'>
                <label for='3'>3</label>
                <input type='radio' id='4' name='rating' value='4'>
                <label for='4'>4</label>
                <input type='radio' id='5' name='rating' value='5'>
                <label for='5'>5</label>
                <input type='hidden' name='userReviewing' value='<%=username%>'>
                <input type='hidden' name='userReviewed' value='<%=user._id%>'>
                <button type='submit'>Submit Review</button>
            </form>

        </div>
<%- include ../partials/footer.ejs %>